<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('Partials/HeaderFront'); -%>
<body>
<%- include('Partials/loader'); -%>
<%- include('Partials/menu-dark'); -%>
<header class="pages-header circle-bg valign position-re sub-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-11">
                <div class="capt">
                    <div class="text-center">
                        <h1 class="color-font mb-10 fw-700">Let's talk <br> about your project.</h1>
                        <p>Feel free to ask me any question or let’s do to talk about
                            our future collaboration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-color">
        <div class="gradient-circle"></div>
        <div class="gradient-circle two"></div>
    </div>
</header>
<div class="main-content">

    <section class="contact section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form md-mb50">

                        <h4 class="fw-700 color-font mb-50">Get In Touch.</h4>

                        <form id="contact-form" method="post" >


                            <div class="controls">

                                <div class="form-group">
                                    <input id="form_name" type="text" class="text-dark " name="name" placeholder="Name"
                                           required="required">
                                </div>
                                <div class="form-group">
                                    <input data-parsley-type="number" type="number" class="text-dark" name="phone" placeholder="Phone"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <input id="form_email" data-parsley-type="email" class="text-dark" type="email" name="email" placeholder="Email"
                                           required="required">
                                </div>

                                <div class="form-group">
                                        <textarea id="form_message" class="text-dark" name="message" placeholder="Message" rows="4"
                                                  required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <small class="form-text success d-none text-success"> You message has been sent successfully. We will get in touch.</small>
                                    <small class="form-text error d-none text-danger"> Some fields are empty. check and retry.</small>
                                    <small class="form-text unknown d-none text-danger"> An error occurred. Please retry.</small>
                                </div>
                                <button type="submit" id="contact-button" class="butn dark"><span>Send Message</span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="cont-info">
                        <h4 class="fw-700 color-font mb-50">Contact Info.</h4>
                        <h3 class="wow" data-splitting>Let's Talk.
                        </h3>
                        <div class="item mb-40">
                            <h5><a href="mailto:<%=settings.email%>"><%=settings.email%></a></h5>
                            <h5><%=settings.phone%></h5>
                        </div>
                        <h3 class="wow" data-splitting>Visit Us.
                        </h3>
                        <div class="item">
                            <h6><%=settings.location%>
                            </h6>
                        </div>
                        <div class="social mt-50">
                            <a href="<%=settings.facebook %>" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="<%=settings.twitter %>" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="<%=settings.instagram %>" class="icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="<%=settings.linkedin %>" class="icon">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('Partials/FooterFront'); -%>
    <script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#contact-form').parsley();

            $("#contact-form").submit(function (e) {
                e.preventDefault();
                const form = $("#contact-form");
                $.ajax({
                    url: '/contact',
                    type: 'POST',
                    data: form.serialize(),
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $("#contact-button").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...').attr('disabled', true);
                        $('small.success').addClass('d-none');
                        $('small.error').addClass('d-none');
                        $('small.unknown').addClass('d-none');

                    },
                    success: function (data) {
                        if (data.status === 200) {
                            $("#contact-button").html('<span>Send Message</span>').attr('disabled', false);
                            form.trigger("reset");
                            $('small.success').removeClass('d-none');
                            $('small.error').addClass('d-none');
                            $('small.unknown').addClass('d-none');
                        } else {
                            $("#contact-button").html('<span>Send Message</span>').attr('disabled', false);
                            $('small.success').addClass('d-none');
                            $('small.unknown').addClass('d-none');
                            $('small.error').removeClass('d-none');
                        }
                    },
                    error: function (err) {
                        $("#contact-button").html('<span>Send Message</span>').attr('disabled', false);
                        $('small.success').addClass('d-none');
                        $('small.error').addClass('d-none');
                        $('small.unknown').removeClass('d-none');
                    }

                })
            });

        });
    </script>
</div>
</body>
</html>
