<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('Partials/HeaderFront'); -%>
<body>
<%- include('Partials/loader'); -%>
<%- include('Partials/menu'); -%>
<%- include('Partials/slider'); -%>
<div class="main-content">
    <div class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="img-mons sm-mb30">
                        <div class="row">
                            <div class="col-md-5 cmd-padding valign">
                                <div class="img1 wow imago" data-wow-delay=".5s">
                                    <img src="public/images/home2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 cmd-padding">
                                <div class="img2 wow imago" data-wow-delay=".3s">
                                    <img src="public/images/home1.jpeg" alt="">
                                </div>
                                <div class="img3 wow imago" data-wow-delay=".8s">
                                    <img src="public/images/home3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 valign">
                    <div class="content">
                        <div class="sub-title">
                            <h6>Our Journey</h6>
                        </div>
                        <h3 class="main-title wow" data-splitting>Our robotics crew is <br />
                            geared for success</h3>
                        <p class="wow txt" data-splitting>The UENR robotics club is The UENR robotics
                            club isThe UENR robotics club is The UENR
                            robotics club is The UENR robotics club is The
                            UENR robotics club is The UENR robotics club
                            is The UENR robotic</p>
                        <div class="ftbox mt-30">
                            <ul>
                                <li class="wow fadeIn" data-wow-delay=".3s">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="mr-3" style="width: 70px; height: 70px; border-radius: 50%; overflow: hidden">
                                            <img src="public/images/roger.jpeg" class="" alt="">
                                        </div>
                                        <div class="d-flex flex-column align-items-start">
                                            <h6 class="font-weight-bold ">Roger Wienaah</h6>
                                            <span class="author-details">President</span>
                                        </div>

                                    </div>

                                    <div class="dots">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="services bords section-padding position-re">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head  text-center">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">Our Teams</h6>
                        <h3 class="wow color-font">From concept through execution</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="item-box md-mb50">
                        <span class="icon"><i class="icon pe-7s-coffee"></i> </span>
                        <h6>Software Team</h6>
                        <p>We translate a projects goals
                            into a functional user
                            experience, to analysing,
                            evaluating and enhancing
                            them over time.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay=".7s">
                    <div class="item-box md-mb50">
                        <span class="icon pe-7s-phone"></span>
                        <h6>Hardware &
                            Prototyping Team</h6>
                        <p>We oversee the design and
                            installation of hardware
                            components to develop
                            a product</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box">
                        <span class="icon pe-7s-display1"></span>
                        <h6>3D Modelling Team</h6>
                        <p>We design 3D models using
                            CAD software during project
                            development to 3D print
                            certain parts.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box">
                        <span class="icon pe-7s-keypad"></span>
                        <h6>Research &
                            Pitching Team</h6>
                        <p>We collect information to
                            assist in the development and
                            design of projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line top left"></div>
        <div class="line bottom right"></div>
    </section>
    <section class="number-sec section-padding pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head  text-center">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">FUN FACTS</h6>
                        <h3 class="wow color-font">Pleasure in the job puts perfection in the work.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item no-bord sm-mb50">
                        <span class="icon pe-7s-smile"></span>
                        <h3 class=""><span class="count"><%= members %></span></h3>
                        <p class="wow txt" data-splitting>Total Members</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item no-bord sm-mb50">
                        <span class="icon pe-7s-portfolio"></span>
                        <h3 class=""><span class="count"><%= projects %></span></h3>
                        <p class="wow txt" data-splitting>Total Projects</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item no-bord">
                        <span class="icon pe-7s-medal"></span>
                        <h3 class=""><span class="count"><%= awards %></span></h3>
                        <p class="wow txt" data-splitting>Total Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('Partials/FooterFront'); -%>
</div>
</body>
</html>
